body {
  background-color: #ffc3c3 !important;
}

.property-card {
  background-color: antiquewhite !important;
  margin: 5px;
  border-radius: 8px;
}

.property-card-data {
  padding: 10px;
}

.menu-icon svg g {
  fill: #ff3a0d !important;
}

.chakra-button:hover {
  background: #cc2e0a !important;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  width: 5px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255 133 8);
  border-radius: 5px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background-color: #ff3f3f;
  outline: 1px solid #ff4660;
  border-radius: 8px;
}

.header {
  margin-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255 133 8);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff3f3f;
  outline: 1px solid #ff4660;
  border-radius: 8px;
}

#nprogress .bar {
  background: #ff3f3f;
}
